#module-user {
    // position:absolute;
    // top:0;   

    p+p {
        margin-left: 2em;
    }
    .label {
        font-weight: bolder;
        margin-right: 0.5em;
        font-variant: small-caps;
    }
    .value {}
}
@media only screen and (max-width: $sm-brkp) {
    #module-user {
        width: $user-width-sm;
        p {
            display: block;
        }
        p+p {
            margin: 0;
        }
    }
}
@media only screen and (min-width: $md-brkp) {
    #module-user {
        p {
            display:inline;
        }

        float: left;
        // height:5em;
        width: $user-width-md;
        border-bottom-width: 4px;
        border-bottom-style: groove;
    }
}
@media only screen and (min-width: $lg-brkp) {
    #module-user {
        width: $user-width-lg;
    }
}
