#widget-fleetSplitter {
    box-sizing: content-box;
    line-height: 1;
    position: absolute;
    top: 40%;
    left: 30%;
    padding-top: 1em;
    width: 18em;
    border-radius: 10%;
    border: 2px groove white;

    .slider {
        width: 90%;
        // display:block;
    }

    .widget-button,.widget-label {
        // @extend .inlineBlock;
        display:block;        
        line-height: 2em;
        font-size: larger;
    }

    .widget-button {
        cursor: pointer;
        background-color: rgb(194, 212, 255);
        font-variant: small-caps;
        font-weight: bold;
        margin: auto;
        margin-bottom: 1em;
        width:6em;
        height: 2em;
        color: black;
        border-radius: 5px;
        &:hover {
            background-color: rgb(61, 119, 255);
        }
    }

    .widget-label {
        // width: 3em;
    }
}
