#game-map {
	@extend .inlineBlock;
    line-height: 1;
    width: 100%;
}

@media only screen and (max-width: $sm-brkp) {} @media only screen and (min-width: $md-brkp) {
    #game-map {
        width: 65%;
    }
}
@media only screen and (min-width: $lg-brkp) {
    #game-map {
        width: 75%;
    }
}
