#game-map {
    line-height: 1;
    width: 100%;
}

@media only screen and (max-width: $sm-brkp) {} @media only screen and (min-width: $md-brkp) {
    #game-map {
        @extend .inlineBlock;
        width: 70%;
    }
}
@media only screen and (min-width: $lg-brkp) {}
