$baseFontSize: 16px;
$baseLineHeight: 1.5;

// Maximum page width, not super important, just acknolwedging that current styles may look shit beyond a certain point
$max-width: 2000px;


$md-brkp: 50em;
$sm-brkp: $md-brkp - 0.001em;
$lg-brkp: 70em;

$touch-height-min: 44px; // Minimum size to ensure touchable elemnts aren't too small for fingers
$touch-width-min: 44px;
$touch-margin: $baseLineHeight;

$layer1: 1;
$layer2: 1000;
$layer3: 10000;


$bg: url('../assets/images/stars_bg.png');

$errorRed: rgb(199,25,25);