%zIndex-1 {
    z-index: 100;
}
%zIndex-2 {
    z-index: 200;
}
%zIndex-3 {
    z-index: 300;
}
%zIndex-4 {
    z-index: 400;
}
%zIndex-5 {
    z-index: 500;
}
%zIndex-6 {
    z-index: 600;
}
%zIndex-7 {
    z-index: 700;
}
%zIndex-8 {
    z-index: 800;
}
%zIndex-9 {
    z-index: 900;
}
%zIndex-10 {
    z-index: 1000;
}
.panel {
    @extend %zIndex-3;
}
.back {
    @extend %zIndex-3;
}
